/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

header{
    height:60px;
    display: flex;
    justify-content: flex-end;
}

header button{
    background-color: rgb(58, 57, 57);
    border-radius: 5px;
    border: none;
    color:white;
    margin-right: 10px;
    margin-top:10px;
    height:30px;
    padding: 10px;
}

main{
    height: 100vh;
    margin-bottom:50px;
}

footer{
    height: 60px;
    width:100%;
    background-color:rgb(41, 41, 41);
    font-size:1.1em;
    position: fixed;
    bottom:0;
}

p>i{
    font-size: 5em;
    color:grey;
}

#main-container{
    height: 100%;
    width: 100%;
}

#webcam-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 80%;
}

#footer-container{
    height: 100%;
    color:white;
}

#voice-and-video{
    height: 100%;
}

#other-settings{
    height: 100%;
    padding: 10px 6%;
}

#end-meeting{
    height:100%;
    background-color: grey;
    color:red;
    text-align: center;
    line-height: 60px;
}

#voice{
    padding:10px;
}

#video{
    padding:10px;
}

#share-screen{
    color: rgb(47, 255, 47);
}


.clearfix::after{
    content:'';
    display: table;
    clear:both;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.aside-arrow{
    width: 10%;
    height: 100%;
    color:white;
}

.aside-text{
    vertical-align: middle;
    padding-top:50vh;
    padding-left:20px;
}

.left p{
    text-align: end;
}

.single-webcam{
    position: relative;
    height: 120px;
    width: 180px;
    margin: 5px;
    background-image: url(../img/Immagine-zoom1.jpg);
    background-size: contain;
}

.participant-name{
    position: absolute;
    height: 25px;
    background-color: rgba(39, 39, 39, 0.5);
    bottom:0;
    font-size:0.6em;
    color:white;
}

.fa-microphone-slash{
    font-size: 2em;
    color:white;
}

.speaker{
    border: 5px solid rgb(85, 175, 11);
}

.up-footer-arrow{
    width: 20px;
    height: 100%;
}

.up-footer-arrow>i{
    transform: translate(0 , 100%);
} 

.footer-icon{
    font-size: 1.5em;
    padding-left:10px;
}

.icon-container{
    height: 100%;
    margin:0 10px;
}

/* Devo mettere a posto il footer perché non si adatta alla restrizione dello schermo */