/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

header{
    height:60px;
    display: flex;
    justify-content: flex-end;
}

header button{
    background-color: grey;
    border-radius: 5px;
    border: none;
    color:white;
    margin-right: 10px;
    margin-top:10px;
    height:30px;
    padding: 10px;
}

